@import "mixins";

.clicker {
  margin-bottom: 1em;

  input {
    @include sr-only;
  }

  label {
    border: 1px solid black;
    display: block;
    padding: 1em 2em;
    background-color: lightblue;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.8);
  }

  input:checked + label {
    background-color: transparent;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8);
  }
}

.button {
  display: inline-block;

  &:first-child {
    label {
      border-radius: 10px 0 0 10px;
    }
  }

  &:last-child {
    label {
      border-radius: 0 10px 10px 0;
    }
  }
}
